<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
content="width=device-width,initial-scale=1.0">
    <title>AI Resume Analyzer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="card shadow p-5"></div>
        <h1 class="text-center text-primary">
            AI Resume Analyzer
        </h1>
        <p class="text-center">
            Upload your resume and recieve an AI-powered analysis , experience, and recommendations for improvement.
        </p>
        {% if message %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">
                    Upload your resume (PDF or DOCX):
                </label>
                <input type="file" name="resume" class="form-control" accept=".pdf,.doc,.docx" required>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    Analyze Resume
                </button>
            </div>
        </form>
        {% if message %}
        <div class="alert alert-success mt-4">
            {{message}}
        </div>
        {% endif %}
        {% if resume_text %}
            <div class="card mt-4 p-4">
                <h3>Extracted Resume Text:</h3>
                <hr>
                <pre>{{ resume_text }}</pre>
            </div>
        {% endif %}
    </div>
</div>
</body>
</html>